<% if current_user.nil? %>
<% elsif current_user.admin? %>
  <%= link_to "New Song", new_song_path, class: "btn btn-primary" %>
<% end %>

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Title</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @songs.each do |song| %>

         <tr>
            <td><%= song.title %></td>
            <td><iframe src="<%= song.url_url %>" height="75"></iframe> </td>
            <% if current_user.nil? %>
            <% elsif current_user.admin? %>
              <td><%= button_to "Delete",  song, method: :delete, class: "btn btn-danger" %></td>
            <% end %>
         </tr>

      <% end %>
   </tbody>
</table>
