.media-table {
  width: 75%;
}

.media-div {
  padding-left: 22%;
}
.media-title {
  padding-left: 16rem;
}

.sort-list {
  list-style: none;
  display: inline-flex;
}
.sort-list2 {
  padding-top: 1.5rem;
  padding-left: 2rem;
  a {
    color: inherit;
  }
}
// search ///////////////////////////////////////
.sorry_message {
  text-align: center;
  padding-top: 10%;
}

.submit_search {
 margin-top: .5rem;
 margin-left: 2rem;
}

#search_list {
  width: 25%;
  list-style: none;
  display: inline-flex;
  float: right;
  padding-top: 2rem;
  padding-right: 2rem;
}
