.splash {
  background: image-url("beach2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 99.96%;
  overflow: hidden;
}

.center-nav {
  list-style: none;
  display: inline-flex;
  vertical-align: middle;
  padding-top: 18rem;
  padding-left: 35rem;
  a {
    color: inherit;
  }
}
