// index ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.splash {
  background: image-url("beach2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 99.96%;
  overflow: hidden;
}

.center-nav {
  list-style: none;
  display: inline-flex;
  padding-top: 18vw;
  padding-left: 28vw;
  line-height: 1rem;
  font-size: 1rem;
  a {
    color: inherit;
  }
}

.drop:hover {
  transition: .5s ;
  font-size: 1.3rem;
  line-height: 1rem;
}

.center-nav-li:hover {
  transition: .5s ;
  font-size: 1.3rem;
  line-height: 1rem;
}

#secret {
  position: absolute;
  bottom: 0;
  right: 2rem;
  a {
    color: black;
  }
}


// about ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#about-pic {
  width: 15rem;
  transition: 1s;
  -webkit-transition: width 1s;
}
#about-pic:hover {
  width: 20rem;
}

.about-group{
  text-align: center;
  padding-top: 10rem;
}
// ofeinpierunve

.drop {
    color: black;
    font-size: 1rem;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 31.3vw;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}
